url = '' 
proxies = proxies = [
    {'http': "socks5://user:password@1.1.1.1:1", 'https': "socks5://user:password@1.1.1.1:1"},
    {'http': "socks5://user:password@1.1.1.1:1", 'https': "socks5://user:password@1.1.1.1:1"},
    {'http': "socks5://user:password@1.1.1.1:1", 'https': "socks5://user:password@1.1.1.1:1"},
    
]

proxies_aiohttp_socks = [
    "socks5://user:password@1.1.1.1:1",
    "socks5://user:password@1.1.1.1:1",
    "socks5://user:password@1.1.1.1:1"
]
api_key= 'dkjfghedkjng'

cookies = {

}

headers = {

}

data = ''